{% extends 'base.html.twig' %}


{# SEO #}

{% set pageHeadTitle = 'Product' %}


{# Assets #}

{% block importmap %}
    {{ importmap(['app', 'product-delete']) }}
{% endblock %}


{# Body #}

{% block main %}
    <div class="container">
        <h1>Product</h1>

        <div class="card">
            <h5 class="card-header">{{ product.name }}</h5>

            <div class="card-body">
                <p class="card-text">{{ product.description }}</p>

                <a href="{{ path('product_index') }}" class="btn btn-secondary">
                    back to list
                </a>

                <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-primary">
                    edit
                </a>

                {{ include('product/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
